<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détails de la vidéo</title>
</head>
<body>
<h1>Détails de la vidéo</h1>

<!-- Affichage des détails de la vidéo -->
<p>Titre: <span th:text="${videoWithDetails.title}"></span></p>
<p>Description: <span th:text="${videoWithDetails.description}"></span></p>
<p>URL: <span th:text="${videoWithDetails.url}"></span></p>
<p>Date de publication: <span th:text="${videoWithDetails.datePublication}"></span></p>
</body>
</html>